services:
  backend:
    image: svennn420/mortgage-simulator-backend:latest
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/mortgage-simulator
      - JWT_SECRET=secret_key_change_me
    depends_on:
      - mongo
    restart: unless-stopped

  frontend:
    image: svennn420/mortgage-simulator-frontend:latest
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:5000/api
    depends_on:
      - backend
    restart: unless-stopped

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

volumes:
  mongo-data:
